body{
    background-color: #EFE5C2;
}

header{
    background-color: #039DA3;
    padding: 10px 0px 10px 10px;
}

footer{
    background-color: #F9C322;
    padding: 10px 0px 10px 10px;
}

h1 {
    font-family: "owners-xwide", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    text-align: center;
    font-size: xx-large;
}

ul {
    list-style-type:none;
    padding: 5px;
}

.container-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}