body{
    background-color: #EFE5C2;
}

header{
    background-color: #039DA3;
    padding: 10px 0px 10px 10px;
}

footer{
    background-color: #039DA3;
    padding: 10px 0px 10px 10px;
    text-align: center;
    font-family: "owners-xwide", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: x-small;
    color:black;
}

h1 {
    font-family: "owners-xwide", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    text-align: center;
    font-size: xx-large;
}

ul {
    list-style-type:none;
    padding: 5px;
}

.container-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.section-one {
    background-color: #FC4300;
    height:flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-two {
    background-color: #F9C322;
    height: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.section-three {
    background-color: #FF235C;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #EFE5C2;
    border: none;
    font-family: "owners-xwide", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px;
    margin: 2px;
    border-radius: 2px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
    0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:#FF235C;
}

.flexgrow-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box1 {
    background-color: #EFE5C2;
    height: 200px;
    flex: 1 1 auto;
    order: 1;
}

.box2 {
    background-color: #EFE5C2;
    height: 200px;
    flex: 1 1 auto;
    order: 2;
}

.box3 {
    background-color: #EFE5C2;
    height: 200px;
    flex: 1 1 auto;
    order: 3;
}

.box4 {
    background-color: #EFE5C2;
    height: 200px;
    flex: 1 1 auto;
    order: 4;
}

.box5 {
    background-color: #EFE5C2;
    height: 200px;
    flex: 1 1 auto;
    order: 5;
}

.box6 {
    background-color: #EFE5C2;
    height: 200px;
    flex: 1 1 auto;
    order: 6;
}

.box7 {
    background-color: #EFE5C2;
    height: 200px;
    flex: 1 1 auto;
    order: 7;
}

.box8 {
    background-color: #EFE5C2;
    height: 200px;
    flex: 1 1 auto;
    order: 8;
}

.container{
    max-width:1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.photo-gallery{
    display: flex;
    gap: 20px;
}

.photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

@media (max-width: 768px){
    .photo-gallery{
        flex-direction: column;
    }
}

